TeamName {
    position: absolute;
    top: 24px;
    width: 100%;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 100;
}

RoundInfo {
    position: absolute;
    top: 76px;
    width: 100%;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    z-index: 100;
}

LockedDisplay {
    position: absolute;
    background-color: rgba( black, 0.5 );
    border-radius: 3px;
    right: 100px;
    bottom: 152px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
    align-items: center;
}

SeekerBlackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99;
}
