SeekerBlackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0);
    z-index: 99;

    transition: all 0.2s ease-in;

    &.active {
        background-color: #000;
    }
}
